body {
    font-family: Arial, sans-serif;
    background-color: blueviolet;
}

.recipes-container {
    background-color: aquamarine;
    padding: 20px;
    border: 4px solid blue;
    margin: 80px;
}

ul {
    list-style: none;
}
